 <!-- <div class="container">
        <h1>task details</h1>
        <img src="../../../assets/images/pexels-josh-hild-1270765-34685137.jpg" alt="Task Image">
        
        <div class="meta-info">
            <span class="badge duration">12h</span>
            <span class="badge status">Done</span>
                <select class="select-status" name="status" id="status">
                    <option value="done">Done</option>
                    <option value="not-yet">Not Yet</option>
                </select>
                <select class="select-priority" name="priority" id="priority">
                    <option value="high">High Priority</option>
                    <option value="medium">Medium</option>
                </select>
        </div>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti iure animi optio quos provident praesentium molestias? Similique a alias sunt quisquam accusamus voluptas minus consectetur dolore, temporibus tenetur eligendi molestias.</p>
    </div> -->

    <div class="container">
      <h1>task details</h1>
      <img src="{{task.image}}" alt="">
      <div class="data-info">
        <span class="duration">{{task.duration}}</span>
        <span [class]="task.status">{{task.status}}</span>
        <div class="select-info">
          <label for="">Priority</label>
          <span>{{task.priority}}</span>
        </div>

      <form [formGroup]="updatetaskForm">
          <div class="select-info">
          <label for="">Status</label>
          <select name="" id="" formControlName="status">
            <option value="Done">Done</option>
            <option value="Pending">Pending</option>
            <option value="NotYet">Not Yet</option>
          </select>
        </div>

        <button (click)="updateStatus()" type="submit" class="custom-button">
          save
        </button>
      </form>
      </div>

      <p>
        {{task.description}}
      </p>
    </div>