<div class="container">
  <app-custom-title [title]="'Profile'" [isNotWhite]="true"></app-custom-title>
  <form action="">
    <app-custom-input
      [label]="'Username'"
      [type]="'text'"
      [placeholder]="'UserName'"
      [control]="getControl('userName')"
    ></app-custom-input>
    <app-custom-input
      [label]="'Email'"
      [type]="'text'"
      [placeholder]="'Email'"
      [control]="getControl('email')"
    ></app-custom-input>
    <app-custom-input
      [label]="'Phone'"
      [type]="'text'"
      [placeholder]="'Phone'"
      [control]="getControl('phone')"
    ></app-custom-input>
    <button class="custom-button">Save</button>
    </form>
    <app-custom-title [title]="'Password'" [isNotWhite]="true"></app-custom-title>
  <form action="">
    <app-custom-input
      [label]="'Current Password'"
      [type]="'password'"
      [placeholder]="'Current Password'"
      [control]="getControl('currentPassowrd')"
    ></app-custom-input>
    <app-custom-input
      [label]="'New Password'"
      [type]="'password'"
      [placeholder]="'New Password'"
      [control]="getControl('newPassword')"
    ></app-custom-input>
    <app-custom-input
      [label]="'Confirmation Password'"
      [type]="'password'"
      [placeholder]="'Confirmarion Password'"
      [control]="getControl('confirmationPassword')"
    ></app-custom-input>
    <button class="custom-button">Change Password</button>
  </form>
</div>
   