.sidebar-container {
    width: 200px;
    height: 100vh;
    background: linear-gradient(135deg, #A0D995, #14C38E);
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    align-items: center;
    gap: 42px;
    padding: 36px 12px;
    overflow: hidden;
    transition: all 0.3s ease;
    animation: softGlow 3s ease-in-out infinite;
}



.item {
    display: inline-flex;
    gap: 14px;
    align-items: center;
    color: white;
    cursor: pointer;
    padding: 6px 16px;
    border-radius: 6px;
    transition: all 0.2s ease;
}

.item:hover {
    background-color: #d3efe561;
}

svg {
    height: 19px;
    color: white;
}

@keyframes softGlow {
    0% {
        filter: brightness(1);
    }
     50% {
        filter: brightness(1.1);
    }
     100% {
        filter: brightness(1);
    }
}

.sidebar-container.closed {
    width: 60px;
}

.sidebar-container.closed .item span {
    width: 0%;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}

.sidebar-container.closed .item  {
   justify-content: center;
   padding: 0px;
}

