.sidebar-container {
    width: 200px;
    height: 100vh;
    /* background: linear-gradient(135deg, #A0D995, #14C38E); */
    background: #92487A;
    display: flex;
    flex-direction: column;
    /* border-radius: 12px; */
    /* align-items: center; */
    gap: 10px;
    padding: 20px 6px;
    overflow: hidden;
    transition: all 0.3s ease;
    box-shadow: 1px 0px 15px 3px rgba(0, 0, 0, 0.05);
    /* animation: softGlow 3s ease-in-out infinite; */
}



.item {
    display: flex;
    gap: 10px;
    align-items: stretch;
    color: #fff;
    cursor: pointer;
    padding: 6px 16px;
    border-radius: 6px;
    transition: all 0.2s ease;
}

.item:hover {
    background-color: #995483;
    transform: translateX(3px);
}

svg {
    height: 19px;
    color: #fff;
}

/* @keyframes softGlow {
    0% {
        filter: brightness(1);
    }
     50% {
        filter: brightness(1.1);
    }
     100% {
        filter: brightness(1);
    }
} */

.sidebar-container.closed {
    width: 60px;
}

.sidebar-container.closed .item span {
    width: 0%;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}

.sidebar-container.closed .item  {
   justify-content: center;
   padding: 0px;
}

.sidebar-container.closed .item.icon_close {
    margin-bottom: 14px;
}



