<div class="container">
    <app-custom-title [title]="'Sing Up'"></app-custom-title>
    <form action="" [formGroup]="singUpForm" (ngSubmit)="onSubmit()">
        <app-custom-input [label]="'UserName'" [type]="'text'" [placeholder]="'Please Enter Your UserName'" [control]="getControl('userName')"></app-custom-input>
        <app-custom-input [label]="'phone'" [type]="'number'" [placeholder]="'Please Enter Your Phone Number'" [control]="getControl('phone')"></app-custom-input>
        <app-custom-input [label]="'Email'" [type]="'text'" [placeholder]="'Please Enter Your Email'" [control]="getControl('email')"></app-custom-input>
        <app-custom-input [label]="'Password'" [type]="'password'" [placeholder]="'Please Enter Your Password'" [control]="getControl('password')"></app-custom-input>
        <button class="custom-button">Sing Up</button>
    </form>
</div>