<app-navbar></app-navbar>
<div class="home-page">
  <div class="image">
    <img
      src="../../../assets/images/home1.png"
      alt=""
    />
  </div>

  <div>
    <h1>Welcome to Task Management System</h1>
    <p>
      Manage your tasks efficiently and stay organized with our intuitive task
      management system.
    </p>
  </div>
</div>

<div class="home-page">
  <div>
    <ul>
      <li>
        <span class="number">1</span>
        <span class="text">Create your tasks </span>
      </li>
      <li>
        <span class="number">2</span>
        <span class="text"
          >Manage your tasks efficiently and stay organized with our intuitive
          task management system.</span
        >
      </li>
      <li>
        <span class="number">3</span>
        <span class="text"> complete your tasks on time.</span>
      </li>
    </ul>
  </div>
  <div class="image">
    <img
      src="../../../assets/images/home2.png"
      alt=""
    />
  </div>
</div>
