<div class="container">
    <table>
        <thead>
            <tr>
                <td>Image</td>
                <td>title</td>
                <td>Duration</td>
                <td>Status</td>
                <td>email</td>
                <!-- <td>Actions</td> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of tasks">
                <td><img src="{{ task.image }}" alt="Task Image"></td>
                <td>{{ task.name }}</td>
                <td>{{ task.duration }}</td>
                <td><span [class]="task.status">{{ task.status === "NotYet" ? "Not Yet" : task.status }}</span></td>
                <td>{{task.email}}</td>
            </tr>
             
        </tbody>
    </table>
</div>