<div class="footer-container">
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima voluptate consequuntur rerum. Voluptatibus modi unde tenetur iste, neque nemo deleniti odio voluptates nulla, exercitationem ipsam labore, quis ut? Quibusdam, culpa?
  </p>
   <div class="footer-itmes">
    <span class="footer-itmes-title">Quik Links</span>
    <span class="footer-item">Home</span>
    <span class="footer-item">register</span>
    <span class="footer-item">tasks</span>
   </div>
</div>