.footer-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: monospace;
    background: #9f4377;
    padding: 12px 13px;
    font-weight: 700;
    box-shadow: 0 4px 20px black;
    font-size: 12px;
}

.footer-itmes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.footer-itmes-title{
    font-weight: 800;
    font-family: monospace;
    font-size: 18px;
    color: #e2d3f3;
}

.footer-item{
    font-size: 14px;
    color: white;
    font-weight: 600;
    font-family: monospace;
    cursor: pointer;
    padding: 6px 16px;
    animation: all 0.3s ease-in-out;
}

.footer-item:hover {
    background-color: #b45c98;
    border-radius: 4px;
}

